$primary: #5a3e23e0;//FE5F1E
$primary-hover: #b68155;//#b23301;
$secondary: hsl(0, 25%, 98%);
$pure: #fff;
$dark: #000000;
$gray: rgb(189, 153, 109);
//rgb(146, 127, 103)

$smooth: all .3s ease-in-out;